@CHARSET "UTF-8";

/* recommended to choose a value that is divisible by 2 */
@def handleSize 10px;

.base {
	background-color: #333;
	position: relative;
}
.imageCanvas {
	opacity: 0.4;
}

.selection {
	border: 1px dashed white;
}
.selectionDraggableBackground {
    background: rgba(255, 255, 255, 0);
}
.handlesContainer {
	overflow: visible;
}
.handle {
	width: handleSize;
	height: handleSize;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.25);
	position: absolute;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}