@CHARSET "UTF-8";
/* recommended to choose a value that is divisible by 2 */
@def handleSize 10px;

.base {
	background-color:#333;
	position: relative;
}
.imageCanvas {
    opacity: 0.4;
    -ms-filter: literal("progid:DXImageTransform.Microsoft.Alpha(Opacity=40)");
    filter: literal("alpha(opacity=40)");
}
.selection {
    border: 1px dashed #FFFFFF;
    background: #FFFFFF;
}
.selectionDraggableBackground {
    /* we need this 'hack', because without this magic IE didn't see the draggable area */
    -ms-filter: literal("progid:DXImageTransform.Microsoft.Alpha(Opacity=0)");
    filter: literal("alpha(opacity=0)");
    opacity: 0;
    background: #FFF;
}
.handlesContainer {
	overflow: visible;
}
.handle {
	width: handleSize;
	height: handleSize;
	border: 1px solid #000;
	background: #FFFFFF;
	position: absolute;
	
    -ms-filter: literal("progid:DXImageTransform.Microsoft.Alpha(Opacity=25)");
    filter: literal("alpha(opacity=25)");
    opacity: 0.25;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
