@CHARSET "UTF-8";

/* recommended to choose a value that is divisible by 2 */
@def handleSize 30px;

.base {
	background-color: #333;
	position: relative;
}

.imageCanvas {
	opacity: 0.4;
}

.selection {
	border: 2px dashed white;
	z-index: 1;
}
.selectionDraggableBackground{
	background: rgba(255, 255, 255, 0);
	-ms-touch-action: none;
}

.handlesContainer {
	overflow: visible;
	z-index: 2;
}

.handle {
	width: handleSize;
	height: handleSize;
	
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.25);
	position: absolute;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-ms-touch-action: none;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}